

#header {

}


#slider {
    width: 100%;
    height: 70vh;
    background-color: rgb(244, 98, 45);
    background-image: url(https://zozo.vn/public/theme/touched/images/bg/homebgsection.svg);
}

#slider .content {
   text-align: center;
    padding-top: 150px;
    margin-bottom: 250px;
}

#slider .content h3 {
    font-size: 1.8rem;
    color: white;
}

#slider .content p {
    color: white;
    margin-bottom: 25px;
}

#slider .content a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    padding: 15px 80px;
    border-radius: 5px;
    background-color: green;
    color: antiquewhite;
}

#slider .content a:hover {
    background-color: rgb(250, 243, 234);
    color: orangered;
    font-size: 1.1rem;
    transition: all ease-in-out 0.6s;
}


#slider .content p:last-child {
    color: rgb(50, 49, 49);
    margin-top: 25px;
}

#text {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}


#review .text-review {
    border: 1px solid beige;
    padding: 35px;
    background-color: beige;
    border-radius: 25px;
    margin-bottom: 40px;
    
}

